{% extends 'base.html' %}

{% block content %}
    <div class ="index-body">
        <a href="https://www.example.com/"><img src="../static/images/logo.png" alt="logo" class="logo"/></a><!-- Change to desired Logo and link -->
        <h1>MeowFree Wifi</h1> <!-- Change to desired Header -->
        <p>We're happy to see you back!</p> <!-- Change to desired Paragraph -->
        <div class = "index-form">
                <a href="../connected"><button type="Connect">Connect</button></a>
            </form>
        </div>
    </div>
{% endblock %}
